<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="48700TekPill.MadAboutMovies" Publisher="CN=4B50CFD2-435B-4775-93FE-01D0DCFEB70A" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Mad About Movies</DisplayName>
    <PublisherDisplayName>TekPill</PublisherDisplayName>
    <Logo>Assets\mam_50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MAM.App">
      <VisualElements DisplayName="Mad About Movies" Logo="Assets\MAM_150.png" SmallLogo="Assets\MAM_30.png" Description="App1" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="wideLogoOnly" ShortName="Mad About Movies" WideLogo="Assets\MAM_310.png" />
        <SplashScreen Image="Assets\MAM.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>